@charset "UTF-8"
*{
font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(15, 194, 192), rgb(1, 89, 88),rgb(2, 53, 53));
            color: black;
        
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136,109,93,0.616);
    padding: 10px;
    margin: auto;}
    
            
            

 

    

h1{
    color: blue;
    text-align: center;
    text-shadow: 1px 1px 0px black;

}
h2{

    color: cyan;
}
p{
    text-align: justify;
}